.header {
   
    background-color: #000000;
    padding: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}


.cuadro {
    width: 900px;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 10px;
    position: relative;
    
}


.cuadrolateral {
 width: 50px;
 height: 100px;
 background-color: black;
 
}

p {
    padding: 10px;
     display: flex;
     
}


.titulos {
   font-size: 20px;
   color: blue;
}


.cuadrolateral {
    width: 10px;
    height: 100px;
    background-color: black;
}


@media (max-width: 480px) {
  .cuadro header footer {
    height: 150px; 
  }

}